<h2 class="Edit-user">Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

<div align="center">
  <div class = "card card-cont2">  
  
  <div class="form-group">
    <%= f.input :email, required: true, autofocus: true, input_html: { class: 'form-control' } %>
  </div>  
  
  <div class="form-group">
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>
  </div>
  
  <div class="form-group">
    <%= f.input :name, required: false, input_html: { class: 'form-control' } %>
  </div>
  
  <div class="form-group">
    <%= f.input :current_password, required: true, input_html: { class: 'form-control' } %>
  </div>
  
  <div class="form-group">
    <%= f.input :password, autocomplete: "off", required: false, input_html: { class: 'form-control' } %>
  </div>
  
  <div class="form-group">
    <%= f.input :password_confirmation, required: false, input_html: { class: 'form-control' } %>
  </div>

  <input type="image" src="/button/update.png" border="0" alt="Submit" style="width:110px; height:44px; margin-top:10px" />

  
    <% end %>
  </div>
</div>

<hr>

<p>
  <%= link_to image_tag('/button/signout.png', :width => 110, :height => 44), registration_path(resource_name),  data: { confirm: "정말 탈퇴하시겠습니까?" }, method: :delete%>
  
  <a href="/" ><img src="/button/home.png" style="width:110px; height:44px;" ></a>
</p>